<h1 class="center" style="padding: 0px 300px;">Edite Item</h1>
<img class="images center" src="/assets/images/{{CreateMenuItem.image}}" width="150px" height="200px" style="cursor: pointer ; " [align]="" />   

<div class="container my-5 ">
    <div class="row center">
      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="editeItem()">
          <div class="mb-3" >
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="CreateMenuItem.name" required width="150px" height="">
          </div>
  
          <div class="mb-3" hidden>
            <label class="form-label">Image</label>
            <input type="text" class="form-control" name="image" [(ngModel)]="CreateMenuItem.image" required>
          </div>
  
          <div class="mb-3">
            <label class="form-label">Sizes</label>
            <div *ngFor="let size of menuItemSizesArr">
              <input type="checkbox" id="{{size.sizeId}}" name="{{size.name}}" [(ngModel)]="size.checked">
              <label for="{{size.sizeId}}">{{size.name}}</label>
              <input type="number" class="form-control" name="{{size.priceName}}" [(ngModel)]="size.price" [disabled]="!size.checked">
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary">Save</button>
          <a class="btn btn-success" [routerLink]="['/home']"  style="font-weight: bolder;font-size: larger; float: right;"> Back--></a>

        </form>
        
      </div>
    </div>
  </div>
