
<div class="container my-5" *ngIf="SelectedItem.length>0"  style="background-image:url(/assets/images/background.jpg );" >
  
  <h1 class="mb-3  h5" style="color: white; font-weight: bolder; font-size: xx-large; ">Fill Order Data</h1>
  <div class="row" >
<form #orderForm="ngForm" (ngSubmit)="submitOrder()" >

  <div hidden>
    <label class="form-lable  h5" for="orderId" style="color: white; font-weight: bolder; ">Order ID:</label>
    <input class="form-control" type="number" id="orderId" name="orderId" [(ngModel)]="order.orderId" required>
  </div>

  <div class="mb-3">
    <label class="form-lable  h5" for="customerName" style="color: white; font-weight: bolder; ">Customer Name:</label>
    <input class="form-control" type="text" id="customerName" name="customerName" [(ngModel)]="order.customerName" required>
  </div>

  <div class="mb-3">
    <label class="form-lable h5" for="customerAddress" style="color: white; font-weight: bolder; ">Customer Address:</label>
    <input class="form-control" type="text" id="customerAddress" name="customerAddress" [(ngModel)]="order.customerAddress" required>
  </div>

  <div class="mb-3">
    <label class="form-lable h5" for="customerEmail" style="color: white; font-weight: bolder; ">Customer Email:</label>
    <input class="form-control" type="email" id="customerEmail" name="customerEmail" [(ngModel)]="order.customerEmail" required>
  </div>

  <div class="mb-3">
    <label class="form-lable h5" for="customerPhone" style="color: white; font-weight: bolder; ">Customer Phone:</label>
    <input class="form-control" type="text" id="customerPhone" name="customerPhone" [(ngModel)]="order.customerPhone" required>
  </div>

  <div class="mb-3">
    <label class="form-lable h5" for="orderDate" style="color: white; font-weight: bolder; ">Order Date:</label>
    <input class="form-control" type="date" id="orderDate" name="orderDate" [(ngModel)]="order.orderDate" required>
  </div>

  <button type="submit" [disabled]="!orderForm.valid" class="btn btn-success">Submit</button>
<button type="button" class="btn btn-danger" (click)="onCancel()">Back TO Menu</button>
</form>
  </div>
</div>












<div class="container " [hidden]="SelectedItem.length>0" >
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Restaurant Menu</h2>

<form (ngSubmit)="onChange($any($event.target).value)" >
  <div class="container text-center" style="background-image:url(/assets/images/background.jpg );">
      <div class="row row-cols-2">
        <div class="col shadow-box" *ngFor="let item of Menu" >
         
          <div>
             <h5 class=" h5" style="font-weight: bolder ;font-size: x-large; color: white;"> {{item.name}}</h5>
              
              <img class="images img-thumbnail" src="/assets/images/{{item.image}}" width="200px" height="150px" style="cursor: pointer ; float: left;" [align]="" />   
              
              <div>
                <input type="checkbox" id="{{item.menuItemId}}" style="width: 25px; height: 25px;" name="{{item.name}}" value="{{item.menuItemId}}" >
              </div>
              <div>  
                <select id="{{item.menuItemId}}" class="form-control" style="width: 200px;" name="item.name" >
                  <option *ngFor="let itemSizes of item.menuItemSizes" value="{{itemSizes.sizeId}}">{{itemSizes.name}}     -     {{itemSizes.price| currency}}</option> 
                </select>
                <input  type="number" class="form-control"  id="{{item.menuItemId}}{{item.name}}"style="width: 200px;" value="1" min="1" > 
    
                
              </div>
          </div>
         
  
         
  
          
          
         
          <hr style="color: white;size: 3px;">
      </div>
      
      </div>
    </div>
    <div class="text-center mt-3" ><button class="btn btn-primary form-control"> submit</button></div>
</form>

    </div>
  </div>
  <br>
  <br>
  <br>
  <br>