<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-weight: bolder ;font-size: xx-large; color: #fd8e33;">Restaurant Online Menu </a>
    <a class="btn btn-light" [routerLink]="['/Products']"   style="font-weight: bolder;font-size: x-large; float: right; width: auto; height: 50px; background-color: #fd8e33;color: white;"> Make an order</a>
    <a class="btn btn-light" [routerLink]="['/Orders']"   style="font-weight: bolder;font-size: x-large; float: left; width: auto; height: 50px; background-color: #fd8e33;color: white; margin: 0px 100px;"> Restaurant Orders</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      
        
        </ul>
    </div>
  </div>
</nav>


<router-outlet>
  
</router-outlet>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


